.vscode/**
.vscode-test/**
src/**
.gitignore
tsconfig.json
**/*.ts
**/*.map
*.vsix
.git/**
.cursor/**
docs/**
package-lock.json
**/.DS_Store
node_modules/**/test/**
node_modules/**/*.map
node_modules/**/*debug*
